<body>
<h1>Mes points</h1>
<!--
<p *ngFor="let name of aaa">{{name.nom}}</p>
<p *ngFor="let email of aaa">{{email.email}}</p>
<p *ngFor="let roles of aaa">{{roles.roles}}</p>
<p *ngFor="let score of aaa">{{score.score}}</p>
-->
<h2>Leaderboad</h2>

<table>
  <thead>
  <tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of user; let i = index">
    <td>{{ i + 1 }}</td> <!-- Adding 1 to index to start from 1 instead of 0 -->
    <td>{{ user.nom }}</td>
    <td>{{ user.score }}</td>
  </tr>
  </tbody>
</table>

</body>
