<div class="center">
  <span class="title">Participer à un quizzzzzz !</span>
  <div class="card-group">
     <div class="card">
       <a href="/cat1"><img class="card-img-top" src="assets/img1.png">
      <div class="card-body">
       <p class="card-text">Catégorie 1</p>
      </div></a>
    </div>
    <div class="card">
      <a href="/cat2"><img class="card-img-top" src="assets/img2.png">
      <div class="card-body">
        <p class="card-text">Catégorie 2</p>
      </div></a>
    </div>
    <div class="card">
      <a href="/cat3"><img class="card-img-top" src="assets/img3.png">
      <div class="card-body">
        <p class="card-text">Catégorie 3</p>
      </div></a>
    </div>
  </div>

  <div class="quizzCompte">
    <h1>Les quizz que j'ai créé</h1>
    <div class="card">
      <img class="card-img-top" src="assets/logo_quizz.jpg">
      <div class="card-body">
        <p class="card-text">Quizz 1</p>
      </div>
    </div>
  <p>Nous sommes là pour t'aider et t'accompagner pendant 4 journées de TP. N'hésite pas si tu as la moindre question
    ! </p>
</div>
